@import "common.css";
@import "header.css";
@import "footer.css";

/*container*/

.container {
  text-align: center;
}

.first_section {
  background: #a9ae8d;
  border-radius: 0px;
}

.first_paragraph {
  padding: 69px 0 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  text-transform: uppercase;
  color: #f6f4ec;
}

.first_heading {
  padding: 0 0 28px;
  font-weight: 400;
  font-size: 33px;
  line-height: 64px;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  color: #f6f4ec;
}

.first_button {
  margin-bottom: 51px;
  padding: 10px 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  color: #ffffff;
  border-radius: 0px;
  background: #b45f4d;
}
/*container*/

/*article section*/
.article_section {
  background: #f6f4ec;
  text-align: center;
  border-radius: 0px;
}

.second_heading {
  padding: 39px 0 44px;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 39px;
  text-align: center;
  text-transform: capitalize;
  color: #b45f4d;
}

.cards_section {
  display: inline-block;
}

.cards_section img {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 15px;
  width: 367px;
}

.cards_paragraph {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 15px;
  text-align: start;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #b45f4d;
}

.cards_price {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: start;
  color: #b45f4d;
}

.left {
  display: inline-block;
}

.right {
  display: inline-block;
}

.right img {
  margin-right: -260px;
  width: 80px;
}

.left img {
  margin-left: -260px;
  width: 80px;
}

.center {
  color: #f6f4ec;
  font-size: 30px;
}
/*article section*/

/*shampoon section */

.shampoon_section {
  background: #ffffff;
}

.shampoon_img {
  margin: 35px 110px;
  text-align: center;
  width: 1219px;
  height: 414px;
}

.shampoon_post {
  position: relative;
  margin: -180px 110px 86px 110px;
  font-family: "Roboto";
  color: #f6f4ec;
  background-color: #df9b7a;
  text-align: start;
}

.shampoon {
  display: inline-block;
  margin: 30px 615px 30px 30px;
}

.shampoon_set {
  display: inline-block;
  padding-bottom: 15px;
  text-align: end;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-transform: uppercase;
  color: #f6f4ec;
  background: #df9b7a;
  border-radius: 0px;
}
/*shampoon section*/

/*girl section*/

.girl_section {
  background: #f1d3b9;
  border-radius: 0px;
  width: 1440px;
}

.girl_section img {
  width: 491px;
  height: 734px;
  margin: 84px 42px 100px 190px;
}

.latter_box {
  float: right;
  margin: 160px 188px 170px 0px;
  padding: 50px 50px;
  display: block;
  width: 520px;
  height: 582px;
  background: #f8f8f8;
}

.latter_heading {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 58px;
  color: #b45f4d;
}

.latter_paragraph {
  text-align: start;
  margin: 20px 0 40px 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #b45f4d;
}

.latter_link {
  margin-right: 330px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #b45f4d;
}

/*girl section*/

/*link section*/

.link_section {
  background: #ffffff;
  padding-bottom: 40.16px;
}

.link a {
  color: #000000;
}

.link {
  padding: 55px 0 48px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 39px;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}

.images {
  display: inline;
  height: 130px;
  width: 230px;
}

/*link section*/
